openapi: 3.1.0
info:
  title: TagoIO Access Management Device Tokens API
  description: "#### **How to use this documentation**\nThe documentation is split by which token you're required to use in the request.  \nTagoIO provides 4 different tokens:\n- **Device-Token**: The token from your device, which you can get from the device's page.\n    \n- **Profile-Token**: Also know as Account-Token. You get from your profile settings page.\n    \n- **Network-Token**: Is the token from your Network. Only available if you're owner of the network in your integrations page.\n    \n- **Analysis-Token:** The token from your analysis, available in the analysis page.\n---\n#### Setting the API Endpoint Region\nWhen making a request to the TagoIO API, you must also specify the appropriate regional endpoint. Choose one of the following endpoints based on your geographical region:\n\n- **United States East 1:**  \n    Use this endpoint when your application is based in the eastern United States.  \n    **URL:** `https://api.us-e1.tago.io/`\n    \n- **Europe West 1:**  \n    Use this endpoint when your application is based in Western Europe.  \n    **URL:** `https://api.eu-w1.tago.io/`\n\n- **Tago Deploy:**  \n  You should use your own API URL that is available in your Domains section of the TagoDeploy."
  version: 1.0.0
  contact: {}
servers:
- url: https://api.us-e1.tago.io
- url: https://api.eu-w1.tago.io
security:
- ProfileToken: []
tags:
- name: Device Tokens
  description: Manage device tokens (Profile Token).
paths:
  /device/token/{deviceID}:
    parameters:
    - name: deviceID
      in: path
      required: true
      schema:
        type: string
    get:
      tags:
      - Device Tokens
      summary: List Tokens
      description: 'Retrieves list of all tokens from device

        '
      operationId: listOfTokens
      responses:
        '200':
          description: ''
  /device/token:
    post:
      tags:
      - Device Tokens
      summary: Create Token
      description: 'Generate and retrieve a new token

        '
      operationId: createToken
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                device:
                  type: string
                  example: 6243321z80d789a05800143075a4
                expire_time:
                  type: string
                  example: 3 hours
                name:
                  type: string
                  example: TestToken
                serie_number:
                  type: string
                  example: 359881234567890
                  description: If applicable for the selected Network. Can be an IMEI, EUI, or unique serial number.
            examples:
              Create token:
                value:
                  device: 6243321z80d789a05800143075a4
                  expire_time: 3 hours
                  name: TestToken
          text/plain:
            examples:
              Create token:
                value: "{\r\n    \"expire_time\": \"never\", // ISO-8601 or relative date, e.g 1 day\r\n    \"name\": \"Token #2\",\r\n    \"permission\": \"full\", // full, read or write\r\n    \"serie_number\": \"\", //Optional\r\n    \"device\": \"6298fcc3e0b6840012b6abfa\"\r\n}"
      responses:
        '201':
          description: Token created
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: object
                    properties:
                      expire_time:
                        type: string
                        example: '2022-03-30T01:15:14.914Z'
                      permission:
                        type: string
                        example: full
                      token:
                        type: string
                        example: f2ba4b46-3c57-44ce-810f-98e1271ea602
                  status:
                    type: boolean
                    example: true
  /device/token/{tokenID}:
    parameters:
    - name: tokenID
      in: path
      required: true
      schema:
        type: string
        example: (Type a token ID to be deleted)
    delete:
      tags:
      - Device Tokens
      summary: Delete Token
      description: 'Delete a token

        '
      operationId: deleteToken
      responses:
        '200':
          description: Delete Token
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: string
                    example: Token Successfully Removed
                  status:
                    type: boolean
                    example: true
components:
  securitySchemes:
    Device-Token:
      type: apiKey
      description: A Device-Token that is unique to your device. Generate a token by accessing your Device's page.
      name: Device-Token
      in: header
      x-example: 5e12345a-d70a-4e2d-b83d-5c0123456789
    Network-Token:
      type: apiKey
      description: A Network Token that is unique to your Network. Access Integrations > Network > Tokens to generate a token for your Network.
      name: Token
      in: header
      x-DisplayName: Network-Token
      x-example: fd549ad2-813c-4d66-bf72-508e5b98afe3
    Profile-Token:
      type: apiKey
      description: A Profile token that is unique to your entire profile. Generate in your account settings.
      name: Profile-Token
      in: header
      x-example: a15ea5ea-dd2d-4c63-8945-92b54da4772a
x-tagGroups:
- name: Device Token (Device-level)
  tags:
  - Device Data
- name: Network Token (Network-level)
  tags:
  - Network Ingest
- name: Device Management
  tags:
  - Devices
  - Device Tokens
  - Configuration Param
  - Import/Export
  - Immutable Device
- name: Tago RUN
  tags:
  - Tago RUN
  - Users
  - Dictionary
  - Notifications
- name: Dashboards
  tags:
  - Dashboards
  - Widgets
- name: File(s) Management
  tags:
  - Files
  - Upload
- name: Profile
  tags:
  - Account
  - Profile
  - Statistics / Billing
- name: Entities
  tags:
  - Entity
  - Entity Data
- name: Resources
  tags:
  - Access Management
