openapi: 3.2.0
info:
  title: TagoIO Configuration Param API
  description: '#### **How to use this documentation**

    The documentation is split by which token you''re required to use in the request.'
  version: 1.0.0
  contact: {}
servers:
- url: https://api.us-e1.tago.io
- url: https://api.eu-w1.tago.io
security:
- ProfileToken: []
tags:
- name: Configuration Param
paths:
  /device/{deviceID}/params:
    parameters:
    - name: deviceID
      in: path
      required: true
      schema:
        type: string
        example: (Type your device ID)
    get:
      tags:
      - Configuration Param
      summary: List Device Params
      description: List params for the device
      operationId: listDeviceParams
      parameters:
      - name: sent_status
        in: query
        schema:
          type: string
          example: 'false'
        description: Filter by Boolean.
      responses:
        '200':
          description: List Device Params
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          example: 62ab8294c1ac39001361e11b
                        key:
                          type: string
                          example: param1
                        sent:
                          type: boolean
                          example: false
                        value:
                          type: string
                          example: value1
                    example:
                    - id: 62ab8294c1ac39001361e11b
                      key: param1
                      sent: false
                      value: value1
                    - id: 62ab8294c1ac39001361e11c
                      key: param2
                      sent: false
                      value: value2
                  status:
                    type: boolean
                    example: true
    post:
      tags:
      - Configuration Param
      summary: Create and Edit Device Params
      description: Create and edit params for the device
      operationId: createAndEditDeviceParams
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                  example: 62aba74d84acd30011ac593f
                key:
                  type: string
                  example: updatedKey
                sent:
                  type: boolean
                  example: false
                value:
                  type: string
                  example: updatedValue
            examples:
              Create and Edit Device Params:
                value:
                  id: 62aba74d84acd30011ac593f
                  key: updatedKey
                  sent: false
                  value: updatedValue
      responses:
        '201':
          description: Creating or editing device parameters
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: string
                    example: Params Successfully Updated
                  status:
                    type: boolean
                    example: true
  /device/{deviceID}/params/{paramID}:
    parameters:
    - name: deviceID
      in: path
      required: true
      schema:
        type: string
        example: (Type your device ID)
    - name: paramID
      in: path
      required: true
      schema:
        type: string
        example: (Type your param ID)
    delete:
      tags:
      - Configuration Param
      summary: Delete Device Param
      description: Delete param from the device
      operationId: deleteDeviceParam
      responses:
        '200':
          description: Deleting a Device Param by ID
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: string
                    example: Successfully Removed
                  status:
                    type: boolean
                    example: true
components:
  securitySchemes:
    Device-Token:
      type: apiKey
      description: A Device-Token that is unique to your device. Generate a token by accessing your Device's page.
      name: Device-Token
      in: header
      x-example: 5e12345a-d70a-4e2d-b83d-5c0123456789
    Network-Token:
      type: apiKey
      description: A Network Token that is unique to your Network. Access Integrations > Network > Tokens to generate a token for your Network.
      name: Token
      in: header
      x-DisplayName: Network-Token
      x-example: fd549ad2-813c-4d66-bf72-508e5b98afe3
    Profile-Token:
      type: apiKey
      description: A Profile token that is unique to your entire profile. Generate in your account settings.
      name: Profile-Token
      in: header
      x-example: a15ea5ea-dd2d-4c63-8945-92b54da4772a
x-tagGroups:
- name: Device Token (Device-level)
  tags:
  - Device Data
- name: Network Token (Network-level)
  tags:
  - Network Ingest
- name: Device Management
  tags:
  - Devices
  - Device Tokens
  - Configuration Param
  - Import/Export
  - Immutable Device
- name: Tago RUN
  tags:
  - Tago RUN
  - Users
  - Dictionary
  - Notifications
- name: Dashboards
  tags:
  - Dashboards
  - Widgets
- name: File(s) Management
  tags:
  - Files
  - Upload
- name: Profile
  tags:
  - Account
  - Profile
  - Statistics / Billing
- name: Entities
  tags:
  - Entity
  - Entity Data
- name: Resources
  tags:
  - Access Management
