openapi: 3.1.0
info:
  title: TagoIO Access Management Import/Export API
  description: "#### **How to use this documentation**\nThe documentation is split by which token you're required to use in the request.  \nTagoIO provides 4 different tokens:\n- **Device-Token**: The token from your device, which you can get from the device's page.\n    \n- **Profile-Token**: Also know as Account-Token. You get from your profile settings page.\n    \n- **Network-Token**: Is the token from your Network. Only available if you're owner of the network in your integrations page.\n    \n- **Analysis-Token:** The token from your analysis, available in the analysis page.\n---\n#### Setting the API Endpoint Region\nWhen making a request to the TagoIO API, you must also specify the appropriate regional endpoint. Choose one of the following endpoints based on your geographical region:\n\n- **United States East 1:**  \n    Use this endpoint when your application is based in the eastern United States.  \n    **URL:** `https://api.us-e1.tago.io/`\n    \n- **Europe West 1:**  \n    Use this endpoint when your application is based in Western Europe.  \n    **URL:** `https://api.eu-w1.tago.io/`\n\n- **Tago Deploy:**  \n  You should use your own API URL that is available in your Domains section of the TagoDeploy."
  version: 1.0.0
  contact: {}
servers:
- url: https://api.us-e1.tago.io
- url: https://api.eu-w1.tago.io
security:
- ProfileToken: []
tags:
- name: Import/Export
  description: Import/Export Operations for devices  (Profile Token).
paths:
  /device/{deviceID}/data/backup:
    parameters:
    - name: deviceID
      in: path
      required: true
      schema:
        type: string
        example: 67aa1f9135b1a7000a9db33c
      description: Device ID
    post:
      tags:
      - Import/Export
      summary: Export data to CSV in Files
      description: Export data to CSV in Files
      operationId: exportDataToCsvInFiles
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                file_address:
                  type: string
                  example: /device/$DEVICE$/$TIMESTAMP$
                headers:
                  type: boolean
                  example: true
            examples:
              Export data to CSV in Files:
                value:
                  file_address: /device/$DEVICE$/$TIMESTAMP$
                  headers: true
      responses:
        '200':
          description: Exporting data to Files
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: object
                    properties:
                      file_address:
                        type: string
                        example: device/66db45b6552d1d00097956de/1732039901282.csv
                  status:
                    type: boolean
                    example: true
  /device/{deviceID}/data/restore:
    parameters:
    - name: deviceID
      in: path
      required: true
      schema:
        type: string
        example: 67aa1f9135b1a7000a9db33c
    description: Device ID
    post:
      tags:
      - Import/Export
      summary: Import Data from a CSV in Files
      description: Import Data from a CSV in Files
      operationId: importDataFromACsvInFiles
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                file_address:
                  type: string
                  example: /July_data/31072024_data.csv
            examples:
              Import Data from a CSV in Files:
                value:
                  file_address: /July_data/31072024_data.csv
      responses:
        '200':
          description: Importing data from Files
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: string
                    example: Data import added to the queue successfully!
                  status:
                    type: boolean
                    example: true
components:
  securitySchemes:
    Device-Token:
      type: apiKey
      description: A Device-Token that is unique to your device. Generate a token by accessing your Device's page.
      name: Device-Token
      in: header
      x-example: 5e12345a-d70a-4e2d-b83d-5c0123456789
    Network-Token:
      type: apiKey
      description: A Network Token that is unique to your Network. Access Integrations > Network > Tokens to generate a token for your Network.
      name: Token
      in: header
      x-DisplayName: Network-Token
      x-example: fd549ad2-813c-4d66-bf72-508e5b98afe3
    Profile-Token:
      type: apiKey
      description: A Profile token that is unique to your entire profile. Generate in your account settings.
      name: Profile-Token
      in: header
      x-example: a15ea5ea-dd2d-4c63-8945-92b54da4772a
x-tagGroups:
- name: Device Token (Device-level)
  tags:
  - Device Data
- name: Network Token (Network-level)
  tags:
  - Network Ingest
- name: Device Management
  tags:
  - Devices
  - Device Tokens
  - Configuration Param
  - Import/Export
  - Immutable Device
- name: Tago RUN
  tags:
  - Tago RUN
  - Users
  - Dictionary
  - Notifications
- name: Dashboards
  tags:
  - Dashboards
  - Widgets
- name: File(s) Management
  tags:
  - Files
  - Upload
- name: Profile
  tags:
  - Account
  - Profile
  - Statistics / Billing
- name: Entities
  tags:
  - Entity
  - Entity Data
- name: Resources
  tags:
  - Access Management
